.Song {

	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 2px 3px;
	}

	.duration {
		text-align: right;
	}

	.edit {
		// display: flex;
		// justify-content: center;
		// align-items: center;
		cursor: pointer;
		//min-height: 31px;
		padding: 3px 0 0;
		font-size: 13px;
	}
}

.active {
	background-color: rgb(207, 207, 230) !important;
	color: black;
	font-weight: 600;
	font-style: italic;
}
