.Song {
	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 2px 3px;
	}

	.duration {
		text-align: right;
	}

	.edit {
		width: 100%;
		cursor: pointer;
		font-size: 13px;
		text-align: center;
		padding: 3px 0 0;
	}
}

.active {
	background-color: rgb(207, 207, 230) !important;
	color: black;
	font-weight: 600;
	font-style: italic;
}
