/***** PROGRESS component *****/
.Progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 2em;
	
	.time {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 10px;
		margin-bottom: -30px;
	}
  
	.progressMeter {
		margin: 1em auto 0;
		height: 5px;
		width: 65%;
		background-color: #aaa;

		@media screen and (min-width: 535px) {
			width: 80%;
		}

		.progress {
			height: 100%;
			width: 75%;
			background-color: #a33; 
		}
	}
}
