/***** PROGRESS component *****/
.Progress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 1em;
	
	.time {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.progressMeter {
			margin: 6px 3%;
			height: 7px;
			width: 100%;
			border-radius: 3px;
			background-color: #aaa;
	
			@media screen and (min-width: 535px) {
				//width: 80%;
			}
	
			.progress {
				height: 100%;
				width: 75%;
				border-radius: 3px 0 0 3px;
				background-color: #a33; 
			}
		}
	}
  

}
