/***** General styles *****/
.App {
	max-width: 640px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;

	/***** PLAYER *****/
	.player {
		background: #333;
		width: 88%;
		margin: 5% auto 9px;
		border: solid 3px red;
		border-radius: 50px 50px 0px 0px;
		overflow: hidden;
	}

	/***** CONTROLS *****/
	.content {
		width: 90%;
		overflow: hidden;
		background-color: #666;
		margin: 0 auto 20px;
		padding: 1em;
		border: solid 1px white;
		border-radius: 15px 15px 0px 0px;
		color: #ccc;
		text-align: center; 
	}
}
