 /***** CONTROLS component *****/
.Controls {
	margin: 0 auto .2em;
	display: flex;
	justify-content: space-between;
	width: 100%;
	text-shadow: 6px 6px 6px #222; 
	font-size: 2em;
  
	.button {
		&:hover {
			color: #fff;
			transform: translate(2px, 2px);
			text-shadow: 4px 4px 4px #222;	
		}

		&:active {
			transform: translate(4px, 4px);
			text-shadow: 1px 1px 1px #222; 
		}
	}

	@media(min-width: 300px) {
		font-size: 11vw;
	}

	@media (min-width: 800px) {
		font-size: 9vw;
	}

	@media (min-width: 1000px) {
		font-size: 5em;
	}
}