/***** PLAYLIST-BOX component *****/
.Playlist {
	color: #ccc;
	background-color: rgb(11, 11, 36);
	height: calc(100vh - 350px);
  
	.playlistTable {
		background-color: #112;
		border-collapse: collapse;
		text-align: left;


		th, td {
			max-width: 0;
			border: solid 1px black;

			padding: 3px 4px;
			font-size: .8em;
	
			@media(min-width: 300px) {
				padding: 4px 6px;
				font-size: 1em;
			}
	
			@media (min-width: 600px) {
				padding: 7px 10px;
				font-size: 1.1em;
			}
		
			@media (min-width: 800px) {
				padding: 8px 12px;
				font-size: 1.2em;
			}
		
			@media (min-width: 1000px) {
				padding: 9px 14px;
				font-size: 1.3em;
			}
		}

		tr {
			&:nth-child(even) {
				background-color: #223;
			}
		}
		
		.title {
			width: 45%;
			max-width: 45%;
		}
	
		.artist {
			width: 40%;
			max-width: 40%;
		}
	
		.duration {
			width: 7%;
			max-width: 7%;

			@media (min-width: 1000px) {
				padding: 9px 14px;
			}
		}

		.edit {
			width: 8%;
			max-width: 8%;
		}
	}
}
