/***** HEADER *****/
.Header {
	display: flex;
	justify-content: space-between;
	margin: .7em 25px;

	h1 {
		color: white;
		justify-self: center;
		align-self: center;
		text-align: center;
		margin: 0 auto;
		white-space: nowrap;
		font-size: 1.4em;

		@media(min-width: 300px) {
			font-size: 9vw;
		}

		@media(min-width: 400px) {
			font-size: 8vw;
			letter-spacing: 1px;
		}

		@media (min-width: 600px) {
			font-size: 7vw;
			letter-spacing: 1.2px;
		}

		@media (min-width: 800px) {
			font-size: 5.5vw;
			letter-spacing: 1.5px;
		}

		@media (min-width: 1000px) {
			font-size: 3em;
			letter-spacing: 1.5px;
		}
	}
}
