/***** HEADER *****/
.Header {
	display: flex;
	justify-content: space-between;
	margin: .7em 25px;

	h1 {
		color: white;
		justify-self: center;
		align-self: center;
		text-align: center;
		margin: 0 auto;
		white-space: nowrap;
		font-size: 1.8em;
	}
}
