/***** ADD-SONG-FORM *****/
.AddSongForm {  
	position: absolute;
	display: block;
	width: 75%;
	top: 80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #888;
	padding: 1em 2em;
	border: solid 1px black;
	border-radius: 30px;
	box-shadow: 2px 10px 10px black; 
	z-index: 10;

	h3 {
		margin: 0 0 .5em;
	}

	label {
		white-space: nowrap;
		margin: 0 .5em 0 0;
	}

	input {
		width: 45vw;
		max-width: 350px;
		margin: .3em 0;
		padding: 2px 5px;
	}

	.buttons {
		display: flex;
		width: 100%;

		.button {
			width: auto;
			height: auto;
			border: solid 1px #ddd;
			border-radius: 5px;
			margin: .5em 1em .5em 0;
			padding: 5px 10px;
			cursor: pointer;
		}

		.cancel {
			color: #333;
		}
	}
}
	